/*-- scss:defaults --*/

/* -------------------- Colors ---------------------- */
// primary colors
$ucl-white: #fafafa;
$ucl-dark-purple: #361a54;
$ucl-bright-purple: #993bff;
$ucl-mid-purple: #ba82ff;

// supporting colors
$ucl-light-purple: #ddbdff;
$ucl-pale-purple: #eedeff;
$ucl-heritage-blue: #30d6ff;

// other colors
$ucl-dark-blue: #12239e;
$ucl-dark-red: #751441;
$ucl-dark-green: #10433f;
$ucl-light-blue: #118dff;
$ucl-light-orange: #e66c37;
$ucl-light-pink: #e645ab;
$ucl-light-green: #1aab40;




$body-bg: $ucl-pale-purple;
$body-color: $ucl-dark-purple;
$text-muted: $ucl-pale-purple;
$link-color: $ucl-heritage-blue;
$link-color-hover: $ucl-mid-purple;
$selection-bg: $ucl-heritage-blue;
$selection-color: $ucl-dark-purple;

$light-bg-text-color: $ucl-dark-purple;
$light-bg-link-color: $ucl-heritage-blue;
$light-bg-code-color: $ucl-dark-purple;

$dark-bg-text-color: $ucl-white;
$dark-bg-link-color: $ucl-heritage-blue;
$dark-bg-code-color: $ucl-heritage-blue;



/* -------------------- Fonts ---------------------- */
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-ExtraLightItalic.otf');
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-Light.otf');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-Regular.otf');
  font-weight: normal; // 400
  font-style: normal;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-Italic.otf');
  font-weight: normal; // 400
  font-style: italic;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-Medium.otf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-SemiBoldItalic.otf');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-Bold.otf');
  font-weight: bold; // 700
  font-style: normal;
}
@font-face {
  font-family: UCLSans;
  src: url('../../../../../fonts/UCLSans-BoldItalic.otf');
  font-weight: bold; // 700
  font-style: italic;
}

$font-family-sans-serif: UCLSans !default;
$font-family-monospace: UCLSans, monospace;
$presentation-font-size-root: 40px;
$presentation-font-smaller: 0.7;
$presentation-line-height: 1.5;




/* -------------------- Headings ---------------------- */
$presentation-h1-font-size: 1.9em;
$presentation-h2-font-size: 1.6em;
$presentation-h3-font-size: 1.3em;
$presentation-h4-font-size: 1em;
$presentation-heading-font: $font-family-sans-serif;
$presentation-heading-color: $body-color;
$presentation-heading-line-height: 1.2;
$presentation-heading-letter-spacing: normal;
$presentation-heading-text-transform: none;
$presentation-heading-text-shadow: none;
$presentation-heading-font-weight: 700;
$presentation-h1-text-shadow: none;

/* -------------------- Code ---------------------- */
$code-block-bg: $ucl-pale-purple;
$code-block-border-color: lighten($body-color, 60%);
$code-block-font-size: 0.55em;

$code-color: $ucl-heritage-blue;
$code-bg: transparent;

/* -------------------- Tabsets ---------------------- */
$tabset-border-color: $code-block-border-color;

/* -------------------- Layout ---------------------- */
$border-color: lighten($body-color, 30%);
$border-width: 0px;
$border-radius: 3px;
$presentation-block-margin: 12px;
$presentation-slide-text-align: left;
$presentation-title-slide-text-align: left;

/* -------------------- Callouts ---------------------- */
$callout-border-width: 0.3rem;
$callout-border-scale: 0%;
$callout-icon-scale: 10%;
$callout-margin-top: 1rem;
$callout-margin-bottom: 1rem;
$callout-color-note: $ucl-light-blue;
$callout-color-tip: $ucl-light-green;
$callout-color-caution: $ucl-light-orange;
$callout-color-warning: $ucl-light-pink;
$callout-color-important: $ucl-dark-red;







/*-- scss:rules --*/

.reveal .dark {
  background-color: $ucl-dark-purple;
  color: $ucl-pale-purple;

  h1, h2, h3, h4 {
      color: $ucl-white;
  }
}

.test {
    background-color: transparent;
    background: none;
}


.center-horizontally {
    display: block !important;
    margin: auto !important;
}

.much-smaller {
    font-size: 0.75em;
}

.ref {
    font-size: 0.5em;
}

.right {
    position: absolute;
    right: 0;
}

.bottom {
    position: absolute;
    bottom: 0;
}

/*
// cannot make items appear immediately
.reveal.fragment.appear {
    visibility: hidden;
}

.fragment.appear.visible {
    visibility: visible;
}
*/

/*
// cannot get the banner to scale with the screen size
.reveal .has-dark-background {
    background: linear-gradient(to right, $ucl-mid-purple 25%, $ucl-dark-purple 25%);
    color: $ucl-white;

    h1, h2, h3, h4 {
        color: $ucl-white;
    }
}
*/
